{% extends '../layouts/master.html' %}

{% block 'titulo' %}
Cursos del Establecimiento Manheim
{% endblock 'titulo' %}


{% block 'content' %}

<div class="row mx-0 h-100 w-100">
    <div class="h-100 py-4 px-2" style="width: 70%;">
        <table class="table caption-top table-hover">
            <caption>Cursos actuales del año 2021</caption>
            <thead class="table-dark">
              <tr>
                <th scope="col">Identificador</th>
                <th scope="col">Nombre</th>
                <th scope="col">Paralelo</th>
                <th scope="col">Electivo</th>
                <th scope="col">Alumnos</th>
                <th scope="col">Prof. Jefe</th>
                <th scope="col">Semestre</th>
                <th scope="col">Año</th>
                <th scope="col">Ver</th>
              </tr>
            </thead>
            <tbody>        
                {% for c in cursos  %}
                    <tr>
                      <th scope="row">{{c.id_curso}}</th>
                      <td>{{c.nombre}}</td>
                      <td>{{c.letra}}</td>
                      <td>
                      {% if c.electivo %}
                      {{c.get_electivo_display}}
                      {%else%}
                      Sin electivo
                      {% endif %}
                          </td>
                      <td>{{c.alumnos.count}}</td>
                      <td>{{c.id_prof_jefe.nombres}}</td>
                      <td>{{c.cod_fecha.get_semestres_display}}</td>
                      <td>{{c.cod_fecha.get_año_display}}</td>
                      <td><a href="{% url 'cursos_app:detalleCurso' c.id_curso %}"><i class="far fa-bars"></i></a></td>
                    </tr>
                {% endfor %}
                    
            </tbody>
          </table>
    </div>
    <div class="py-4 px-1" style="width: 30%;">
        <div class="card shadow-sm">
            <div class="card-header">
              Gestionar Cursos 2021
            </div>
            <div class="card-body">
              <h5 class="card-title text-decoration-underline">Para personas Autorizadas</h5>
              <p class="card-text">Estas acciones permiten finalizar un periodo o el año de escolaridad.</p>
              <p class="card-text text-danger d-inline"><i class="far fa-siren-on"></i>Advertencia:</p><p class="d-inline">Los cambios realizados no podrán deshacerse.</p>
              <div class="row mx-0 w-100 my-2">
                  <div class="col-6 py-0 px-1">
                    <a href="#" class="btn btn-primary w-100">Finalizar Semestre</a>
                </div>
                <div class="col-6 p-0">
                    <a href="#" class="btn btn-primary w-100">Finalizar Año</a>
                  </div>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock 'content' %}