{% extends '../layouts/master.html' %}

{% block 'titulo' %}
Cursos del Establecimiento Manheim
{% endblock 'titulo' %}


{% block 'content' %}

<div class="row mx-0 h-100 w-100">
    <div class="col-9 h-100">
        <div class="row mx-0 w-100 h-100">
            <h2>Bienvenido a Cursos</h2>
            <!-- <div class="col-12" {% if not is_paginated %}style="height: 88% !important;"{% endif %} style="height: 75% !important;">
                <div class="row mx-0 h-100 w-100 ">
                    <div class="col-12 h-100">
                    
                    {% if alumnos.count == 0 %}
                    <div class="text-center my-3">
                        <h5>No se han encontrado resultados</h5>
                        <h6>O todabía no se han agregado alumnos...</h6>
                    </div>
                    {% endif %}
            {% if is_paginated %}
            {% path_with_filter request.get_full_path as filter%} 
            <div class="col-12" style="height: 13% !important;">
                <div class="row mx-0 w-100 h-100">
                    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{page_obj.previous_page_number}}{{filter}}" tabindex="-1" aria-disabled="true">Anterior</a>
                                </li>
                                {% endif %} 
                                {% for pag in paginator.page_range %}
                
                                {% ifequal pag page_obj.number  %}
                                <li class="page-item active"><a class="page-link" href="?page={{pag}}{{filter}}">{{pag}}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{pag}}{{filter}}">{{pag}}</a></li>
                                {% endifequal %}
                                    
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{page_obj.next_page_number}}{{filter}}" tabindex="-1" aria-disabled="true">Siguiente</a>
                                </li>
                                {% endif %}              
                            </ul>
                          </nav>
                    </div>                  
                </div>   
            </div>
            {% endif %} -->
        </div>     
    </div>
</div>