{% extends '../layouts/master.html' %}
{% load static %}
{% load curso_anterior %}

{% block 'titulo' %}
Cursos del Establecimiento Manheim
{% endblock 'titulo' %}

{% block 'css-select2' %}
<link rel="stylesheet"  href="{% static 'css/multi-select(pathern).css' %}">
<link rel="stylesheet"  href="{% static 'css/multi-select(customizado).css' %}">
{% endblock 'css-select2' %}

{% block 'content' %}
{% get_anterior_curso curso.numero as curso_ant%}

<div class="row mx-0 h-100 w-100">
    <div class="col-12 h-100">
        <div class="row mx-0 h-100">
            <div class="col-4 h-100 p-3">
                <div class="card shadow" style="height: 30%;">
                    <div class="text-center">
                        <div class="card-header">
                          {{curso.cod_fecha.year}} - {{curso.cod_fecha.get_semestres_display}}
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{{curso.nombre}}</h5>
                          <p class="card-text">Liceo Tecnólogico Manheim</p>
                        </div>
                      </div>
                </div>
                <div class="card shadow w-100 my-2" style="height: 70%;">
                    <div class="text-center h-100">
                        <div class="card-body h-100">
                            <div class="row mx-0 w-100">
                                <div class="col-8">
                                    <h5 class="card-title fw-bold">Alumnos del Curso</h5>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-outline-primary py-0" data-bs-toggle="modal" data-bs-target="#gestionar">
                                        Gestionar
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="gestionar" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Gestionar Alumnos del Curso</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body px-0">
                                                    <div class="row mx-0 w-100">
                                                        <div class="col-12 ">
                                                            <form action="{% url 'cursos_app:gestionar'%}" method="POST" class="w-100 d-flex flex-column align-items-center justify-content-center">
                                                                {% csrf_token %}
                                                                <input type="hidden" value="{{curso.id_curso}}" name="curso">
                                                                <select multiple="multiple" id="my-select" name="alumnos">
                                                                    {% for a in alumnos  %}
                                                                        {% get_curso_pasado a as curso_pasado%}
                                                                        <option value='{{a.rut}}'>{{a.apellido_paterno}} {{a.nombre}}                         
                                                                            
                                                                            {% if curso_pasado != 'Sin Curso' %}
                                                                            (Anterior: {{curso_pasado}})
                                                                            {% else %}
                                                                            ({{curso_pasado}})
                                                                            {% endif %}
                                                                                
                                                                        </option>     
                                                                    {% endfor %}
                                                                    
                                                                    {% for al in curso.alumnos.all %}
                                                                    <option value='{{a.rut}}' selected disabled>{{al.apellido_paterno}} {{al.nombre}}                         
                                                                       
                                                                    </option>
                                                                    {% endfor %}
                                                                        
                        
                                                                        
                                                                </select>
                                                                <div class="modal-footer w-100 py-1" style="margin-top: 20px;">
                                                                    <div class="row m-0 w-100">
                                                                        <div class="col-6">
                                                                            <button type="button" class="btn btn-secondary w-100 py-1" data-bs-dismiss="modal">Cancelar</button>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <button type="submit" class="btn btn-primary w-100 py-1">Guardar</button>
                                                                        </div>

                                                                    </div>
                                                                </div>                                               
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100" style="height: 90%;">
                                {% if curso.alumnos.all.count > 0 %}
                                <table class="table table-borderless table-sm">
                                    <thead class="text-start">
                                      <tr>
                                        <th scope="col">A. Paterno</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Rut</th>
                                        <th scope="col" colspan="2"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      
                                      {% for a in curso.alumnos.all  %}
                                      
                                      <tr class="text-start">
                                        
                                        <td class="fw-light">{{a.apellido_paterno}}</td>
                                        <td class="fw-light">{{a.nombre}}</td>
                                        <td class="fw-light">{{a.rut}}</td>
                                        <td class="fw-light">
                                            <button class="btn p-0 text-danger" type="button" data-bs-toggle="modal" data-bs-target="#drop{{a.rut}}">
                                                <i class="fal fa-times"></i>
                                            </button>
                                        </td>
                                        <td class="fw-light"><a href="{% url 'alumnos_app:detailAlumn' a.rut %}" class="p-0"><i class="fad fa-address-card"></i></a></td>
                                      </tr>
                                      <!-- Modal -->
                                    <div class="modal fade" id="drop{{a.rut}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel"><i class="fad fa-window-restore text-danger"></i> Remover alumno del curso</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearAll(this);" id={{a.rut}}></button>
                                                </div>
                                                <div class="modal-body">
                                                <p class="fw-light">¿Porque desea remover a 
                                                    <span class="fw-bold">{{a.nombre}} {{a.apellido_paterno}} {{a.apellido_materno}}</span>
                                                    del curso?</p>
                                                    <form action="{% url 'cursos_app:removerAlum' %}" method="POST" id="formRazon">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{curso.id_curso}}" name="curso">
                                                        {% if curso.numero > 1 %}
                                                        <div class="form-check-inline">
                                                            <input class="form-check-input" type="radio" name="razon" onclick="handleClick(this);" value="repitente_{{a.rut}}" id="radrepitente{{a.rut}}">
                                                            <label class="form-check-label" for="flexRadioDefault1">
                                                              Repitente
                                                            </label>
                                                        </div>
                                                        {% endif %}
                                                            
                                                        <div class="form-check-inline">
                                                            <input class="form-check-input" type="radio" name="razon" onclick="handleClick(this);" value="abandono_{{a.rut}}" id="radabandono{{a.rut}}">
                                                            <label class="form-check-label" for="flexRadioDefault2">
                                                                Abandono
                                                            </label>
                                                        </div>
                                                        <div class="form-check-inline">
                                                            <input class="form-check-input" type="radio" name="razon" onclick="handleClick(this);" value="error_{{a.rut}}" id="raderror{{a.rut}}">
                                                            <label class="form-check-label" for="flexRadioDefault2">
                                                                Por error
                                                            </label>
                                                        </div>
                                                        <div class="my-2">
                                                            <h6 class="d-none" id="repitente_{{a.rut}}">El alumno sera movido al curso <span class="fw-bold text-danger">{{curso_ant}}</span></h6>
                                                            <h6 class="d-none" id="error_{{a.rut}}">El alumno quedara <span class="fw-bold text-danger">sin curso</span></h6>
                                                            <h6 class="d-none" id="abandono_{{a.rut}}">El alumno quedara como <span class="fw-bold text-danger">no regular</span></h6>
                                                            <h6 class="d-none text-danger" id="validar">Si quiere remover al alumno, debe seleccionar Razón.</h6>
                                                        </div>
                                                        <div class="modal-footer py-0">
                                                            <button type="button" onclick="clearAll(this);" id={{a.rut}} class="btn btn-secondary float-left py-1" data-bs-dismiss="modal">Cancelar</button>
                                                            <button type="submit" class="btn btn-danger py-1">Remover</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                      {% endfor %}
                                          
                                    </tbody>
                                  </table>
                                {%else%}
                                <h6>Curso vacío</h6>
                                {% endif %}
                            </div>               
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-8 h-100 p-3">
                <div class="card shadow h-100">
                    <div class="row mx-0 w-100" style="height: 20% ;">
                        <div class="col-3 d-flex flex-column align-items-end justify-content-center p-3">
                            <div class="rounded-circle bg-success " style="width: 76px;height:85px;">      
                                <img src="{% static 'imgs/MANNHEIM.png' %}" alt="" class="img-fluid w-100 h-100">
                            </div>
                        </div>
                        <div class="col-9 d-flex flex-column align-items-start justify-content-center p-3">
                            <h2 class="fw-bold">{{curso.nombre}}</h2>
                            <h5 class="fst-italic float-right text-muted">Identificador: {{curso.id_curso}}</h5>
                        </div>
                    </div>
                    <div class="row mx-0 w-100 " style="height: 80%;">
                        <div class="col-5 h-100">
                            <div class="card shadow w-100">
                                <div class="card-body">
                                    <h5 class="card-title">Información General</h5>
                                    <div class="row mx-0 w-100">
                                        <div class="col-6 px-0">
                                            <p class="card-text my-0">Electivo</p>
                                            <h6>{% if curso.electivo %}{{curso.get_electivo_display}}{%else%}Sin electivo{% endif %}</h6> 
                                        </div>
                                        <div class="col-6 px-0">
                                            <p class="card-text my-0">Total Alumnos</p>
                                            <h6>{{curso.alumnos.all.count}}</h6> 
                                        </div>
                                    </div>
                                    <div class="row mx-0 w-100">
                                        <div class="col-6 px-0">
                                            <p class="card-text my-0">Educación</p>
                                            <h6>                  
                                                {% if curso.numero > 8 %}
                                                    Media
                                                {% else %}
                                                    Basica
                                                {% endif %}   
                                            </h6>
                                        </div>
                                        <div class="col-6 px-0">
                                            
                                            {% if curso.id_prof_jefe %}
                                            <p class="card-text my-0">Profesor Jefe<i class="fas fa-check-circle text-success mx-1"></i></p>
                                            {% else %}
                                            <p class="card-text my-0">Profesor Jefe<i class="fas fa-question-circle text-danger mx-1"></i></p>
                                            {% endif %}
                                                
                                            {% if curso.id_prof_jefe  %}
                                            <button type="button" class="btn btn-success p-0" data-bs-toggle="modal" data-bs-target="#newProf">
                                               
                                                {{curso.id_prof_jefe.nombres}} {{curso.id_prof_jefe.apellido_paterno}}
                                                    
                                            </button>
                                            {% else %}
                                            <button type="button" class="btn btn-danger p-0" data-bs-toggle="modal" data-bs-target="#newProf">
                                                
                                                Añadir profesor
                                                    
                                            </button>
                                            
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- Modal añadir Profesor -->
                                    <div class="modal fade" id="newProf" tabindex="-1" aria-labelledby="newProf" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="newProf">Profesor Jefe del Curso</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'cursos_app:addProfeJefe' %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{curso.id_curso}}" name="curso">
                                                        <label for="">Seleccione Profesor Jefe:</label>
                                                        <select name="prof_jefe" class="form-select">
                                                            <option value="">-------</option>
                                                            
                                                            {% for pr in profs %}
                                                                
                                                                {% if curso.id_prof_jefe.id == pr.id %}
                                                                <option value="{{pr.id}}" selected>{{pr}}</option>
                                                                {% else %}
                                                                <option value="{{pr.id}}">{{pr}}</option>
                                                                {% endif %}
                                                                    
                                                            {% endfor %}
                                                                
                                                        </select>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                            <button type="submit" class="btn btn-primary">Actualizar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                    <!-- Modal añadir Profesor -->                              
                                </div>
                            </div>
                            <div class="card shadow w-100 my-3">
                                <div class="card-body">
                                    <h5 class="card-title">Información sobre el Curso</h5>
                                    <p class="card-text my-0">Fecha de inicio de clases</p>
                                    <h6>{{curso.cod_fecha.fecha_inicio}}</h6>            
                                    <p class="card-text my-0">Fecha fin de clases</p>
                                    <h6>               
                                    {% if curso.cod_fecha.fecha_termino %}
                                    {{curso.cod_fecha.fecha_termino}}
                                    {%else%}
                                    En curso
                                    {% endif %}
                                    </h6> 
                                    <div class="row mx-0 w-100">
                                        <div class="col-6 px-0">
                                            <p class="card-text my-0">Año</p>
                                            <h6>{{curso.cod_fecha.year}}</h6> 
                                        </div>
                                        <div class="col-6 px-0">
                                            <p class="card-text my-0">Semestre</p>
                                            <h6>{{curso.cod_fecha.semestres}}</h6> 
                                        </div>
                                    </div>               
                                                 
                                  </div>
                            </div>
                        </div>
                        <div class="col-7 h-100">
                            <div class="card shadow w-100 " style="height: 95%;">
                                <div class="row mx-0 w-100 h-100">
                                    <div class="col-12 h-100">
                                        <div class="w-100 p-3" style="height: 28%;">
                                            <h5 class="card-title">Asignaturas Tomadas</h5>
                                            <p class="card-text my-0">Plan de estudio</p>
                                            <h6>{{curso.plan_estudio.nombre}}</h6>            
                                            <p class="card-text my-0">Asignaturas</p>
                                        </div>
                                        <div class="overflow-auto w-100 " style="height: 72%;margin-bottom:20px;">
                                            {% if curso.asignaturas.all.count > 0 %}
                                            {% for a in curso.asignatura_curso_set.all %}
                                                <div class="row mx-1 shadow-sm p-1 border rounded my-1">
                                                    <div class="col-6" >
                                                        
                                                        {% if curso.numero >= 10  %}
                                                            {% if a.asignatura.nombre == 'Matemática' or a.asignatura.nombre == 'Inglés'  %}
                                                                
                                                                {% if curso.numero >= 10 and curso.numero < 12 %}
                                                                <a href="#" class=" text-start">{{a.asignatura.nombre}} 3°Medio</a>
                                                                {% elif curso.numero >= 12 %}
                                                                <a href="#" class=" text-start">{{a.asignatura.nombre}} 4°Medio</a>
                                                                {% endif %}
                                                            {% else %}
                                                            <a href="#" class=" text-start">{{a.asignatura.nombre}}</a>
                                                            {% endif %}

                                                        {% else %}
                                                        <a href="#" class=" text-start">{{a.asignatura.nombre}}</a>
                                                        {% endif %}
                                                            
                                                       
                                                            
                                                    </div>
                                                    <div class="col-6 text-end">
                                                        
                                                        {% if a.id_profesor %}
                                                        <button class="btn btn-success py-0" data-bs-toggle="modal" data-bs-target="#adminProf{{a.asignatura.cod_asign}}">
                                                           Profesor<i class="far fa-check-circle mx-1"></i>
                                                        </button> 
                                                        {% else %}
                                                        <button class="btn btn-danger py-0" data-bs-toggle="modal" data-bs-target="#adminProf{{a.asignatura.cod_asign}}">
                                                           Profesor<i class="far fa-question-circle mx-1"></i>
                                                        </button> 
                                                        {% endif %}
                                                            
                                                    </div>
                                                </div>

                                                <!-- Modal Setear Profesor-->
                                                <div class="modal fade" id="adminProf{{a.asignatura.cod_asign}}" tabindex="-1" aria-labelledby="adminProf" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title fw-bold" id="adminProf">Designar Profesor de la Asignatura</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                            <form action="{% url 'asignaturas_app:addProfe' %}" method="POST">
                                                                {% csrf_token %}    
                                                                <input type="hidden" value="{{a.asignatura.cod_asign}}" name="asignatura">          
                                                                <input type="hidden" value="{{curso.id_curso}}" name="curso">          
                                                                <div class="row mx-0 w-100">
                                                                    <div class="col-6 text-center">
                                                                        <h6 class="text-primary fw-bold">Asignatura</h6>
                                                                    </div>
                                                                    <div class="col-6 text-center">
                                                                        <h6 class="text-primary fw-bold">Profesor</h6>
                                                                    </div>
                                                                </div>
                                                                <div class="row mx-0 w-100 my-3">
                                                                    <div class="col-4 d-flex flex-column justify-content-center align-items-end">
                                                                        <label for="">{{a.asignatura.nombre}} </label>
                                                                    </div>
                                                                    <div class="col-2 d-flex flex-column justify-content-center">
                                                                        <i class="far fa-arrow-right mx-2  text-danger"></i>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <div class="form-floating">
                                                                            <select class="form-select" name="profesor" aria-label="Floating label select example">
                                                                                <option value="">---------</option>
                                                                                {% for prof in profs %}
                                                                                <option value="{{prof.id}}"
                                                                                
                                                                                {% if a.id_profesor.id == prof.id %}
                                                                                    selected
                                                                                {% endif %}
                                                                                    
                                                                                
                                                                                >{{prof}}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                            <label for="floatingSelect text-secondary">Seleccione Profesor</label>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>     
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                                    <button type="submit" class="btn btn-primary">Guardar Profesor</button>
                                                                </div>
                                                            </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                                <!-- Modal Setear Profesor-->

                                               
                                            {% endfor %}
                                                    
                                            {% else %}
                                            <h6>Sin asignaturas</h6>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock 'content' %}
{% block 'js-select2' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="{% static 'js/jquery.quicksearch.js' %}"></script> 
<script src="{% static 'js/jquery.multi-select.js' %}"></script> 
<script src="{% static 'js/showInfoByRadio.js' %}"></script> 
<script>
    $(document).ready(function() {
      $('#my-select').multiSelect({
        selectableHeader: "<input type='text' class='search-input form-control my-2' autocomplete='off' placeholder='Buscar alumno en espera'>",
        selectionHeader: "<input type='text' class='search-input form-control my-2' autocomplete='off' placeholder='Buscar alumno añadido'>",
        afterInit: function(ms){
          var that = this,
              $selectableSearch = that.$selectableUl.prev(),
              $selectionSearch = that.$selectionUl.prev(),
              selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
              selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';
      
          that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
          .on('keydown', function(e){
            if (e.which === 40){
              that.$selectableUl.focus();
              return false;
            }
          });
      
          that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
          .on('keydown', function(e){
            if (e.which == 40){
              that.$selectionUl.focus();
              return false;
            }
          });
        },
        afterSelect: function(){
          this.qs1.cache();
          this.qs2.cache();
        },
        afterDeselect: function(){
          this.qs1.cache();
          this.qs2.cache();
        }
      });
  });
    
  </script>
  {% if messages %}
    {% for m in messages %}
    
    {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <script>
        Swal.fire({
            'timer':'2000',
            title: 'Operación exitosa',
            text: '{{m}}',
            icon: 'success',
            showConfirmButton: false,
          })
    </script>
    {% endif %}
    
    {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <script>
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: '{{m}}',
        })
    </script>
    {% endif %}
      
      
    
    {% endfor %}
{% endif %}
{% endblock 'js-select2' %}