{% extends '../layouts/master.html' %}
{% block 'titulo' %}
Home
{% endblock 'titulo' %}
{% block 'content' %}
{% load static %}
<div class="row mx-0" style="height: 30%;">
    <div class="col-3 offset-3 p-1 d-flex flex-column align-items-center justify-content-center" style=height:100%;>
        <a href="{% url 'user_app:registrar'%}" class="row mx-0 bs-white text-decoration-none" style="width:85%;height:80%;">
            <div class="col-6 px-4 d-flex flex-column justify-content-end align-items-start">
                <h4 class="fw-bold fs-3">{{usuarios}}</h4>
            </div>
            <div class="col-6 px-4 d-flex flex-column justify-content-end align-items-end"><i class="fas fa-users fs-1"></i></div>
            <div class="col-12 px-4 text-start">
                <h5>Usuarios</h5>
            </div>
        </a>
    </div>
    <div class="col-3 p-1 d-flex flex-column align-items-center justify-content-center" style=height:100%;>
        <a href="#" class="row mx-0 bs-white text-decoration-none" style="width:85%;height:80%;">
            <div class="col-6 px-4 d-flex flex-column justify-content-end align-items-start">
                <h4 class="fw-bold fs-3">{{ingresos.count}}</h4>
            </div>
            <div class="col-6 px-4 d-flex flex-column justify-content-end align-items-end"><i class="fas fa-sign-in-alt fs-1"></i></div>
            <div class="col-12 px-4 text-start">
                <h5>Ingresos</h5>
            </div>
        </a>
    </div>
</div>
<div class="row mx-0" style="height: 70%;">
    <div class="col-7 h-100 p-4" style="padding-right: 0 !important;">
        <div class="row mx-0 h-100 w-100 shadow-sm" style="background: var(--white);">
            <div class="col-12 p-3 text-center" style="height: 15% !important;">
                <h4>Información General del sistema</h4>
            </div>
            <div class="col-6" style="height: 85% !important;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Alumnos regulares
                        <span class="badge bg-primary rounded-pill">{{regulares}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Alumnos Graduados
                        <span class="badge bg-primary rounded-pill">{{graduados}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Alumnos que abandonaron
                        <span class="badge bg-primary rounded-pill">{{desertores}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Alumnos registrados
                        <span class="badge bg-primary rounded-pill">{{total}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-6" style="height: 85% !important;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Profesores Registrados
                        <span class="badge bg-primary rounded-pill">{{profesores}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Apoderados
                        <span class="badge bg-primary rounded-pill">{{apoderados}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Informes 
                        <span class="badge bg-primary rounded-pill">25</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-5 h-100 p-4">
        <div class="row mx-0 w-100 h-100 bg-white shadow-sm rounded">
            <div class="col-12 d-flex flex-column align-items-start justify-content-center" style="height: 15%;">
                <div class="row mx-0 w-100">
                    <div class="col-8 d-flex flex-column align-items-center justify-content-center">
                        <h4 class="fw-bold my-0">Ingresos al Sistema</h4>
                    </div>
                    <div class="col-4">
                        <a href="{% url 'user_app:registrar' %}" class="btn btn-secondary rounded fw-bold">Usuarios<i class="fas fa-arrow-circle-right mx-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex flex-column justify-content overflow-auto scrolled" style="height: 85%;">
                
                {% for ingreso in ingresos %}
                <!-- Repeat this -->
                <div class="row mx-0 my-1 w-100" style="height: 61px;">
                    <div class="col-2 px-0s h-100 d-flex flex-column align-items-center justify-content-center">
                        <div class="rounded-circle bg-success " style="width: 43px;height:43px;">      
                        {% if not ingreso.usuario.image%}
                        <img src="{% static 'imgs/man-300x300.png' %}" alt="" class="img-fluid rounded-circle">
                        {%else%}
                        <img src="{{ingreso.usuario.image.url}}" alt="" class="img-fluid rounded-circle">
                        {% endif %}      
                        </div>
                    </div>
                    <div class="col-10 px-0">
                        <div class="row mx-0 h-100">
                            <div class="col-12 h-50 d-flex flex-column justify-content-end">
                                <h6 class="fw-bold my-0" style="color: var(--gray);">{{ingreso.fecha}} - {{ingreso.hora}}</h6>
                            </div>    
                            <div class="col-12 h-50 d-flex flex-column justify-content-start">
                                <small class="fw-bold" style="color: var(--purple);font-size:90% !important;"><span class="fst-italic">{{ingreso.usuario.rol}}</span> - {{ingreso.usuario.username}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- Repeat this -->
                    
                {% endfor %}
                    


                
                    
            </div>
        </div>
    </div>
</div>
    
{% endblock 'content' %}
    
{% block 'js-select2' %}
{% if messages %}
    {% for m in messages %}
    
    {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <script>
        Swal.fire({
            'timer':'2000',
            title: 'Operación exitosa',
            text: '{{m}}',
            icon: 'success',
            showConfirmButton: false,
          })
    </script>
    {% endif %}
    
    {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <script>
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: '{{m}}',
        })
    </script>
    {% endif %}

    {% endfor %}
{% endif %}


{% endblock 'js-select2' %}