{% extends '../layouts/master.html' %}
{% block 'titulo' %}
Home
{% endblock 'titulo' %}
{% block 'content' %}

<div class="col-12">
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente reiciendis ut labore culpa. Minima numquam nobis sint possimus sed perferendis commodi dolorem delectus incidunt nulla in, illum consequatur porro itaque.
    Aspernatur autem enim dolorum temporibus veritatis explicabo hic eveniet eos dolore? Dolorum ab reiciendis deserunt deleniti rerum aut totam ut sapiente officiis, doloremque placeat? A optio quod nulla hic fuga?</h2>
</div>

    
{% endblock 'content' %}
    
