{% extends '../layouts/master.html' %}

{% block 'content' %}
<div class="row mx-0 h-100 w-100 my-0 py-0"> 
    <div class="col-12 h-100  py-0 my-0 px-0 mx-0" >
        <div class="row mx-0 w-100 " style="height: 100%;">     
            <div class="col-3 h-100  mi-scrol" style="overflow: auto; ">  
                <ul class=" w-100  list-group px-3">
                    <li class=" my-1 text-center pt-5 shadow-sm" style="height: 200px !important; ">
                        <h2 style="color:#594F8D; font-size: 25px;font-weight: bolder;">Ultimos antecedentes ingresados.</h2>
                        <sub>Últimas 20 entradas</sub>
                    </li>
                                
                    {% for a in alumno_antecedente  %}
                        <li class=" my-1 shadow-sm" style="height: 125px !important; position: relative;">
                            <h2 class="p-2" style="color:#594F8D; font-size: 25px;font-weight:900;   text-transform: capitalize; ">{{a.antecedente.nombre_antecedente}}</h2>
                            <h4 class="px-2 wrapper" style=" font-size: 20px;text-decoration: underline;"><a href="{% url 'alumnos_app:detailAlumn' a.alumno.rut %}">{{a.alumno.nombre}} {{a.alumno.apellido_paterno}} - {{a.alumno.rut}}</a></h4>
                            <h6 class="float-right sticky-bottom p-2"style="position: absolute;
                                bottom: 0;
                                right: 0;">{{a.fecha}}</h6>
                        </li>
                                     
                    {% endfor %}    
                 
                </ul>

                      
            </div>
            <div class="col-9 px-4  h-100  " >
                    <div class="col-12 h-25 pt-4 px-4 w-100 ">
                        <form method="POST" action="{% url 'antecedentes_app:create' %}"  class="w-100 d-flex"> 
                            {% csrf_token %}
                            <div class="row mx-0 w-100">
                                <div class="col-12 px-0 shadow-sm rounded-lg" >
                                    <div class="row mx-0 w-100">
                                        <div class="col-8 ">
                                            <h2 style="font-weight: bolder;">Agregar un nuevo antecedente:</h2>
                                            <label for="nombre" class="form-label fw-bold">Nombre de antecedente:</label>
                                            <input type="text" maxlength="50"  class="form-control rounded-pill form-control-sm" id="nombre" name="nombre"  placeholder="&#xf00e; Nombre del antecedente"  style="font-family:KoHo, FontAwesome">
                                        </div>
                                    </div>
                                    <div class="col-12 py-2 px-2  ">
                                        <button type="submit" class="btn btn-primary rounded-pill w-25"><i class="fas fa-sort mx-1"></i>Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 px-5 py-5   h-75 w-100" >
                        <div class="row mx-0 w-100">
                            <div class="col-12 px-0 shadow-sm rounded-lg h-100 w-100" >
                                <H2>Listado de antecedentes</H2>                            
                                <table class="table caption-top table-hover table-sm  ">   
                                    <thead class="table-dark" >      
                                        <tr>
                                        <th>Antecedente</th>
                                        <th>Editar</th>
                                        </tr>    
                                    </thead>                                            
                                    <tbody>                                     
                                        {% for s in antecedentes  %}
                                            <tr>
                                                <th style=" text-transform: capitalize;">{{s.nombre_antecedente}}</th>                               
                                                <th><a  data-bs-toggle="modal" data-bs-target="#editAntecedente{{s.id}}"><i class="fas fa-edit"></i></a></th>
                                                <!-- Modal -->
                                                <div class="modal fade"  data-bs-backdrop="static" id="editAntecedente{{s.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-scrollable" style="max-width: 500px !important; height: fit-content;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Editar Nombre del antecedente:
                                                                    <span class="fw-bold"></span>
                                                                </h5>
                                                                
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{% url 'antecedentes_app:edit' s.id %}" method="POST">
                                                                    {% csrf_token %}                                       
                                                                    <label for="nombre" class="form-label fw-bold"> {{s.nombre_antecedente}}</label>
                                                                    <input type="text" class="form-control rounded-pill form-control-sm" id="nombre" name="nombre"  maxlength="50" placeholder="&#xf00e; Nombre del antecedente"  style="font-family:KoHo, FontAwesome">
                                                                    <div class="row mx-0 w-100 py-2">
                                                                        <div class="col-6">
                                                                            <button type="button" class="btn btn-outline-danger w-100" data-bs-dismiss="modal">Cancelar</button>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <button type="submit" class="btn btn-outline-success w-100">Registrar</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                        {% endfor %} 
                                </tbody>                  
                                </table>         
                                {% if is_paginated %}                  
                                <div class="row  w-100 mx-0 ">
                                    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination my-0">
                                                {% if page_obj.has_previous %}
                                                <li class="page-item">
                                                <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Anterior</a>
                                                </li>
                                                {% endif %} 
                                                {% for pag in paginator.page_range %}
                                
                                                {% ifequal pag page_obj.number  %}
                                                <li class="page-item active"><a class="page-link" href="?page={{pag}}">{{pag}}</a></li>
                                                {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{pag}}">{{pag}}</a></li>
                                                {% endifequal %}
                                                    
                                                {% endfor %}
                                                {% if page_obj.has_next %}
                                                <li class="page-item">
                                                <a class="page-link" href="?page={{page_obj.next_page_number}}" tabindex="-1" aria-disabled="true">Siguiente</a>
                                                </li>
                                                {% endif %}              
                                            </ul>
                                        </nav>
                                    </div>                  
                                </div>  
                            </div>   
                        </div>           
                                {% endif %}    
                    </div>     
                             
                </div>            
            </div>
        </div>
    </div>
</div>





{% endblock 'content' %}



{% block 'js-select2' %}
{% if messages %}
    {% for m in messages %}
    
    {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <script>
        Swal.fire({
            'timer':'2000',
            title: 'Operación exitosa',
            text: '{{m}}',
            icon: 'success',
            showConfirmButton: false,
          })
    </script>
    {% endif %}
    
    {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <script>
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: '{{m}}',
        })
    </script>
    {% endif %}

    {% endfor %}
{% endif %}


{% endblock 'js-select2' %}
