/secret.json
.vscode/
.vscode/settings.json
applications/alumnos/migrations/*
applications/asignaturas/migrations/*
applications/cursos/migrations/*
applications/home/migrations/*
applications/users/migrations/*
