{% extends '../layouts/master.html' %}
{% load  static %}

{% block 'css-select2' %}
    <!-- Jquery -->
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <!-- Select2 css y js-->
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <script src="{% static 'js/select2.min.js' %}"></script>
    <!-- Select2 theme con Bootstrap4 -->
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap4.min.css' %}">
{% endblock 'css-select2' %}

{% block 'titulo' %}
    {% block 'title' %}
    {% endblock 'title' %}
{% endblock 'titulo' %}


{% block 'content' %}

<div class="row mx-0 h-100 w-100">
    <div class="col-12 d-flex align-items-center flex-column h-100 ">
        <div class="col-12  text-center py-2">
            {%include '../includes/actions.html'%}
        </div>
        <div class="card shadow-sm w-75 border-0 my-5">
            <div class="card-header bg-white border-0">
                <div class="row mx-0 w-100">
                    <div class="col-8">
                        <h5 class="title d-inline fw-bold">{% block 'formtitle' %}{% endblock 'formtitle' %}</h5>                             
                    </div>
                    <div class="col-4 text-center">
                        {% block 'go_list' %}
                        {% endblock 'go_list' %}                     
                    </div>
                </div>
            </div>
            <div class="card-body py-0">
                <form action="" method="POST" class="" id="formalumno">
                    {% csrf_token %}
                    {% block 'formulario' %}
                    {% endblock 'formulario' %}
                    <div class="row mx-0 w-100 my-2">
                        <div class="col-12 text-center">
                            <button class="btn btn-outline-primary w-25">{% block 'accion' %}{% endblock 'accion' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
       
    </div>
   
</div>


{% endblock 'content' %}
{% block 'js-select2' %}
<script src="{% static 'js/formulario.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#id_estado').select2({
            theme: 'bootstrap4',
            placeholder:'Seleccione Estado',
            allowClear: true,
            
        });
        $('#id_rut_apoderado').select2({
            theme: 'bootstrap4',
            placeholder:'Seleccione Apoderado',
            allowClear: true,

        });
        $('#id_sexo').select2({
            theme: 'bootstrap4',
            placeholder:'Seleccione Género',
            allowClear: true,
            //closeOnSelect: false

        });
    });
 </script>
{% endblock 'js-select2' %}
    






