
.ms-container .ms-selectable, .ms-container .ms-selection{
  background: #fff;
  color: #555555;
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ms-container .ms-list{
  height: 170px;
}