@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;   
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
}
.decoration-none{
    text-decoration: none;
   
}
.active-now{
    background: #fff;
}
.active-now a{
    color:black !important;
}
.wrapper{
    display:flex;
    position:relative;
}
.wrapper .sidebar{
    position:fixed;
    width: 300px;
    height: 100%;
    background: #594f8d;
    padding: 30px 0;
}
.wrapper .sidebar h2{
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .sidebar ul li{
    padding: 10px;
    border-top-left-radius: 50px ;
    border-bottom-left-radius: 50px ;

}
.wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
}
.wrapper .sidebar ul li a .fas{
    
    width:25px;
}
.wrapper .sidebar ul li:hover{
    background: #a999f8;
}
.wrapper .sidebar ul li:hover a{ 
    background: #a999f8;
}
.wrapper .sidebar ul li i{ 
    margin-right: 10px;
}
.wrapper .sidebar .social_media{ 
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    display: flex;
}
.wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

/* .wrapper .main_content{
    width: 100%;
    margin-left: 200px;
} */

.customnavbar{
    
    position:relative;
}
.customnavbar ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.abajo{
    float:none;
}

.customnavbar li {
    float: left;
}

.customnavbar li a {
    height: 98px;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.customnavbar .container{
    padding: 10px;
}

