{% extends '../layouts/master.html' %}
{% load static %}
{% load formats %}


{% block 'titulo' %}
Informacion del Alumno {{alumno.nombre}} {{alumno.apellido_paterno}} {{alumno.apellido_materno}}
{% endblock 'titulo' %}
    

{% block 'content' %}
<div class="row mx-0 h-100 w-100">
    <div class="col-8 h-100 p-2">
        <div class="card w-100" style="height: 30%;">
            <div class="row mx-0 w-100 h-100">
                <div class="col-2 py-2 text-center" style="padding-right: 0;">
                    <img src="{% static 'imgs/user.png' %}" alt="" class="img-fluid" style="width:9rem;">
                    <a class="btn btn-primary py-1 my-2 fw-bold" href="{% url 'alumnos_app:actualizar' alumno.rut %}">Editar Alumno</a>
                </div>
                <div class="col-10 py-2 d-flex flex-column ">
                    <h4 class="fw-bold my-0">{{alumno.nombre}} {{alumno.apellido_paterno}} {{alumno.apellido_materno}}</h4>
                    
                    {% if alumno.telefono == None %}
                    <small class="text-warning fw-bold"><i class="fas fa-phone-volume mx-1"></i>No definido<i class="far fa-question-circle mx-2"></i></small>
                    {% else %}
                    <small class="text-warning fw-bold"><i class="fas fa-phone-volume mx-1"></i>+56 9 {{alumno.telefono}}</small>
                    {% endif %}
                    
                    {% if alumno.direccion == None %}
                    <h6 class="text-muted my-2 flex-fill"><i class="fas fa-map-marker-alt text-muted mx-1"></i>Direccion no definida<i class="far fa-question-circle mx-2"></i></h6>
                    {% else %}
                    <h6 class="text-muted my-2 flex-fill"><i class="fas fa-map-marker-alt text-muted mx-1"></i>{{alumno.direccion}}</h6>
                    {% endif %}
                        
                    <a href="{% url 'alumnos_app:filtrar'%}" class="text-warning align-self-end">Ir a todos los alumnos<i class="far fa-chevron-double-up mx-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex" style="height: 10%;padding-top:15px">
            <div class="card w-25 h-100">
                <div class="card-body py-1 d-flex flex-column align-items-center justify-content-center">
                    <h6 class="fw-bold my-0">Datos Personales</h6>
                </div>
            </div>
            <div class="h-100 w-75">
                <div class="card-body  h-100 py-1 d-flex flex-column align-items-end justify-content-center">
                    <small>Estado: 
                        
                        {% if alumno.estado == '0' %}
                        <span class="badge bg-success">{{alumno.get_estado_display}}</span>
                        {% elif alumno.estado == '1' %}
                        <span class="badge bg-danger">{{alumno.get_estado_display}}</span>
                        {% else %}
                        <span class="badge bg-warning">{{alumno.get_estado_display}}</span>
                        {% endif %}
                            
                    </small>
                </div>
            </div>
            

        </div>
        <div class="col-12 " style="height: 60%;">
            <div class="card h-100 w-100">
                <div class="card-body">
                    <ul class="list-group list-group-horizontal w-100">
                        <li class="list-group-item w-25 text-end">Rut</li>
                        <li class="list-group-item w-75 fw-light">{{alumno.rut}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal w-100">
                        <li class="list-group-item w-25 text-end">Apoderado</li>
                        <li class="list-group-item w-75 fw-light">{{alumno.rut_apoderado}}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal w-100">
                        <li class="list-group-item w-25 text-end">Fecha de nacimiento</li>
                        
                        {% if alumno.fecha_nacimiento == None %}
                        <li class="list-group-item w-75 text-danger fw-light">Fecha de nacimiento no definida</li>
                        {% else %}
                        <li class="list-group-item w-75 fw-light">{{alumno.fecha_nacimiento}}</li>
                        {% endif %}
                            
                    </ul>
                    <ul class="list-group list-group-horizontal w-100">
                        {% date_to_age alumno.fecha_nacimiento as edad%}
                        <li class="list-group-item w-25 text-end">Edad</li>
                        
                        {% if alumno.fecha_nacimiento == None %}
                        <li class="list-group-item w-75 text-danger fw-light">No es posible calcularla</li>
                        {% else %}
                        <li class="list-group-item w-75 fw-light">{{edad}} Años</li>
                        {% endif %}
                            
                    </ul>
                    <ul class="list-group list-group-horizontal w-100">
                        <li class="list-group-item w-25 text-end">Curso Actual</li>
                        {% if alumno.get_current_curso == 'Graduado' %}
                        <li class="d-flex align-items-center list-group-item w-75 fw-bold text-warning">
                            <div class="mx-0 w-75">
                                {{alumno.get_current_curso}} 
                                <i class="fas fa-diploma mx-1"></i>

                            </div>
                            <div class="mx-0 w-25 text-end">
                                {% if curso != '' %}
                                <a class="btn btn-success py-0 px-1 my-0 float-right" href="{% url 'cursos_app:detalleCurso' curso.curso.id_curso %}">
                                    Ver el Curso<i class="far fa-forward mx-1"></i>
                                </a>
                                {% endif %}

                            </div>
                        </li>
                        {% elif alumno.get_current_curso == 'Sin Curso' %}
                        <li class="d-flex align-items-center list-group-item w-75 fw-bold text-danger">
                            <div class="mx-0 w-75">
                                {{alumno.get_current_curso}} 
                                <i class="fas fa-exclamation-circle mx-1"></i>

                            </div>
                            <div class="mx-0 w-25 text-end">
                                {% if curso != '' %}
                                <a class="btn btn-success py-0 px-1 my-0 float-right" href="{% url 'cursos_app:detalleCurso' curso.curso.id_curso %}">
                                    Ver el Curso<i class="far fa-forward mx-1"></i>
                                </a>
                                {% endif %}

                            </div>
                        </li>
                        {% elif alumno.get_current_curso == 'No Cursando' %}
                        <li class="d-flex align-items-center list-group-item w-75 fw-bold text-danger">
                            <div class="mx-0 w-75">
                                {{alumno.get_current_curso}} 

                            </div>
                            <div class="mx-0 w-25 text-end">
                                {% if curso != '' %}
                                <a class="btn btn-success py-0 px-1 my-0 float-right" href="{% url 'cursos_app:detalleCurso' curso.curso.id_curso %}">
                                    Ver el Curso<i class="far fa-forward mx-1"></i>
                                </a>
                                {% endif %}

                            </div>
                        </li>
                        {% else %}
                        <li class="d-flex align-items-center list-group-item w-75 fw-bold text-success">
                            <div class="mx-0 w-75">
                                {{alumno.get_current_curso}} 

                            </div>
                            <div class="mx-0 w-25 text-end">
                                
                                {% if curso != '' %}
                                <a class="btn btn-success py-0 px-1 my-0 float-right" href="{% url 'cursos_app:detalleCurso' curso.curso.id_curso %}">
                                    Ver el Curso<i class="far fa-forward mx-1"></i>
                                </a>
                                    
                                {% endif %}
                                    

                            </div>
                        </li>
                        {% endif %}
                       
                        
                    </ul>
                    <ul class="list-group list-group-horizontal w-100">
                        <li class="list-group-item w-25 text-end">Género</li>
                        <li class="list-group-item w-75 fw-light">{{alumno.get_sexo_display}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 h-100 p-2 ">
        <div class="row mx-0 w-100 h-100">
            <div class="col-12 px-0" style="height: 45%;">
                <div class="card w-100 h-100 shadow">
                   <div class="card-body" style="height: 17%;">
                        <h5 class="fw-bold text-decoration-underline d-inline">Rendimiento académico</h5>  
                        <i class="fas fa-books mx-1 fs-5 text-warning"></i>
                   </div>
                   <div class="overflow-auto px-1 mi-scrol" style="height: 83%">
                        <ul class="list-group list-group-flush">
                            
                            {% if certificados|length == 0 %}
                            <div class="text-center py-2">
                                <h5 class="fst-italic">No hay certificados Disponibles...</h5>
                            </div>
                            {% endif %}
                            {% for cert in certificados  %}
                            <a href="{% url 'alumnos_app:certificado' alumno.rut cert.0 cert.1 %}" class="list-group-item list-group-item-action py-1">
                                Certificado de notas {{cert.0}} - {{cert.1}}°Semestre 
                                {% if cert|length == 3 %}
                                <span class="text-warning"> {{cert.2}} <i class="fas fa-star-christmas"></i></span>
                                {% endif %}
                                    
                            </a>                            
                            {% endfor %}
                                
                        </ul>
                   </div>
                </div>
            </div>
            <div class="col-12 px-0" style="height: 53%;margin-top:10px;">
                <div class="card w-100 h-100 shadow">
                   <div class="card-body py-1 d-flex" style="height: 17%;">
                       <div class="w-75 h-100 d-flex align-items-center">
                           <h5 class="fw-bold text-decoration-underline d-inline"> <a class="text-decoration-none" href="{% url 'antecedentes_app:inicio'%}">Antecedentes academicos</a></h5>
                    
                           <i class="far fa-history fs-5 text-warning mx-1"></i>
                       </div>
                       <div class="w-25 h-100 d-flex align-items-center">
                           <button class="btn btn-primary px-2 py-0 align-self-right" data-bs-toggle="modal" data-bs-target="#addAntecedente">
                               Añadir<i class="far fa-plus mx-1"></i>
                            </button>          
                       </div>
                       <!-- Modal -->
                       <div class="modal fade" id="addAntecedente" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" style="max-width: 880px !important;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Registrar Antecedente al Alumno/a 
                                        <span class="fw-bold">{{alumno.nombre}} {{alumno.apellido_paterno}} {{alumno.apellido_materno}}</span>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <form action="{% url 'alumnos_app:addAntecedente'%}"  id="formdetalle" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{alumno.rut}}" name="alumno">
                                    {{form.media}}
                                    {{form.fecha.label}}
                                    {{form.fecha}}
                                    {{form.antecedente.label}}
                                    {{form.antecedente}}
                                    {{form.detalle.label}} del asunto:
                                    {{form.detalle}}
                                    <div class="row mx-0 w-100 py-2">
                                        <div class="col-6">
                                            <button type="button" class="btn btn-outline-danger w-100" data-bs-dismiss="modal">Cancelar</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" onclick="return validateForm()" class="btn btn-outline-success w-100">Registrar</button>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="px-1 overflow-auto mi-scrol" style="height:83%">
                        <table class="table table-sm">
                            <thead class="table-dark">
                                <tr>
                                    <td>#</td>
                                    <td>Antecedente</td>
                                    <td>Fecha</td>
                                    <td colspan="2">Gestión</td>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% if alumno.alumno_antecedente_set.all.count == 0 %}
                                    <tr>
                                        <td colspan="5" class="text-center">Sin antecedentes</td>
                                    </tr>
                                {% endif %}
                                    
                                {% for ant in alumno.alumno_antecedente_set.all  %}
                                <tr>
                                    <td>{{ant.id}}</td>
                                    <td>{{ant.antecedente.nombre_antecedente}}</td>
                                    <td>{{ant.fecha}}</td>
                                    <td>
                                        <button class="btn p-0" data-bs-toggle="modal" data-bs-target="#verAnt{{ant.id}}">
                                            <i class="fas fa-folder-open  text-warning fs-5"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn p-0">
                                            <i class="fas fa-file-edit fs-5 text-success"></i>
                                        </button>
                                    </td>
                                    <!-- Modal Visualizar Antecedente -->
                                    <div class="modal fade" id="verAnt{{ant.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Detalle del antecedente - 
                                                    <span class="fw-bold">{{alumno.nombre}} {{alumno.apellido_paterno}} {{alumno.apellido_materno}}</span>
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-decoration-none">
                                                <ul class="list-group list-group-horizontal w-100">
                                                    <li class="list-group-item w-25 text-end">Fecha de registro</li>
                                                    <li class="list-group-item w-75 fw-light">{{ant.fecha}}</li>
                                                </ul>
                                                <ul class="list-group list-group-horizontal w-100">
                                                    <li class="list-group-item w-25 text-end">Tipo Antecedente</li>
                                                    <li class="list-group-item w-75 fw-light">{{ant.antecedente.nombre_antecedente}}</li>
                                                </ul>
                                                <ul class="list-group list-group-horizontal w-100">
                                                    <li class="list-group-item w-25 text-end">Situación Descrita</li>
                                                    <li class="list-group-item w-75 fw-light">
                                                        {{ant.detalle|safe}}
                                                    </li>
                                                </ul>  
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"  data-bs-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </tr>
                                    
                                {% endfor %}
                                    

    
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock 'content' %}
  
{% block 'js-select2' %}
<script>
    function validateForm() {
        // console.log("Hola");
        var inputs = document.getElementById("formdetalle").elements;
        // console.log(inputs);
        var fecha =inputs[2];
        var antecedente =inputs[3];
        var detalle =inputs[4];
        var errores = 0 ;
        // var detalle =document.getElementById('cke_1_contents');
        if (fecha.value == ""|| fecha.value==null) {
            console.log("Fecha vacio");
            fecha.classList.add('is-invalid');
            errores= errores+1;
        }else{
            fecha.classList.remove('is-invalid');
        }
        if (antecedente.value == ""|| antecedente.value==null) {
            console.log("antecednte vacio");
            antecedente.classList.add('is-invalid');
            errores= errores+1;
        }else{
            antecedente.classList.remove('is-invalid');
        }
        if(errores != 0){
            console.log('Errores en el form ',errores);
            return false;
        }
        else{
            if (confirm('Estas seguro que deseas guardar este antecedente?')) {
            
                console.log('guardado en DB');
            } else {
                return false;
                console.log('no guardado en DB');
            }
        } 
}
</script>
{% if messages %}
    {% for m in messages %}
    <script>
        Swal.fire({
            'timer':'2000',
            title: 'Operación Exitosa',
            text: '{{m}}',
            icon: 'success',
            showConfirmButton: false,
          })
    </script>
    {% endfor %}
{% endif %}
{% endblock 'js-select2' %}
