{% extends '../layouts/master.html' %}


{% block 'titulo' %}
Actualizar datos del alumno
{% endblock 'titulo' %}


{% block 'content' %}
<div class="row mx-0 h-100 w-100">
    <div class="col-9 d-flex align-items-center flex-column h-100">
        <h2 class="my-3"><i class="fas fa-book-open fs-2 mx-2 text-primary"></i>Actualizando al alumno {{form.nombre.value}} {{form.apellido_paterno.value}}<i class="fas fa-book-open fs-2 mx-2 text-primary"></i></h2>                    
        <form method="POST" class="w-100 h-100">
            {% csrf_token %}
            <div class="row mx-0 w-100 shadow-sm border rounded p-3">
                <div class="col-6  ">
                    <div class="row mx-0 w-100">
                        <div class="col-6">
                            <label for="" class="text-primary">Rut: {% for e in  form.rut.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
                            {{form.rut}}   
                        </div>
                        <div class="col-6">
                            <label for="" class="text-primary">Nombre: {% for e in  form.nombre.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
                            {{form.nombre}}
                        </div>
                        <div class="col-6">
                            <label for="" class="text-primary">Apellido Paterno: {% for e in  form.apellido_paterno.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
                            {{form.apellido_paterno}}   
                        </div>
                        <div class="col-6">
                            <label for="" class="text-primary">Apellido Materno: {% for e in  form.apellido_materno.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
                            {{form.apellido_materno}}
                        </div>
                        <div class="col-6" class="text-primary">
                            <label for="">Género: {% for e in  form.sexo.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
                            {{form.sexo}}
                        </div>
                    </div>                    
                </div>
                <!-- <div style=" border-left: 2px solid gray;height: 100%;"></div> -->
                <!-- style="border-left: 1px solid rgb(192,192,192);" -->
                <div class="col-6 " style="border-left: 1px solid #dee2e6;" >
                    <div class="row mx-0 w-100">
                        <div class="col-6">
                            <label for="" class="text-primary">Apoderado: {% for e in  form.rut_apoderado.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
                            {{form.rut_apoderado}}   
                        </div>
                        <div class="col-6">
                            <label for="" class="text-primary">Estado: {% for e in  form.estado.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
                            {{form.estado}}
                        </div>
                        <div class="col-6">
                            <label for="" class="text-primary">Direccion:(Opcional) {% for e in  form.direccion.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
                            {{form.direccion}}   
                        </div>
                        <div class="col-6">
                            <label for="" class="text-primary">Celular:(Opcional) {% for e in  form.telefono.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
                            {{form.telefono}}
                        </div>
                        <div class="col-8">
                            <label for="" class="text-primary">Fecha Nacimiento:(Opcional) {% for e in  form.fecha_nacimiento.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
                            {{form.fecha_nacimiento}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0 my-3">
                <div class="col-12 text-center">
                    <button class="btn btn-primary rounded-pill" type="submit"><i class="fas fa-plus mx-2"></i>Registrar</button>
                </div>
            </div>
            <div></div>
        </form>
    </div>
   
  
    <div class="col-3 h-100 text-center p-3">
        {%include '../includes/actions.html'%}
    </div>
</div>
{% endblock 'content' %}
    
    