{% extends '../layouts/master.html' %}


{% block 'titulo' %}
Filtrar Alumnos por Parametros
{% endblock 'titulo' %}


{% block 'content' %}
<div class="row mx-0 h-100 w-100">
    <div class="col-9">
        <div class="row mx-0 w-100 my-2">
            <div class="col-12 h-100 px-0">
                <form method="GET" class="w-100 h-100 d-flex">
                    {% csrf_token %}
                    <div class="row mx-0 w-100">
                        <div class="col-10 px-0">
                            <div class="row mx-0 w-100">
                                <div class="col-4">
                                    <label for="kword" class="form-label fw-bold">Palabra Clave:</label>
                                    <input type="text" class="form-control rounded-pill" id="kword" name="kword" placeholder="&#xF002; Nombre Alumno"  style="font-family:KoHo, FontAwesome">
                                </div>
                                <div class="col-4">
                                    <label for="fecha1" class="form-label fw-bold">Fecha 1:</label>
                                    <input type="date" class="form-control rounded-pill" id="fecha1" name="fecha1" placeholder="Ingresa fecha 1">
                                </div>
                                <div class="col-4">
                                    <label for="fecha2" class="form-label fw-bold">Fecha 2:</label>
                                    <input type="date" class="form-control rounded-pill" id="fecha2" name="fecha2" placeholder="Ingresa fecha 2">
                                </div>
                            </div>     
                        </div>
                        <div class="col-2 d-flex flex-column align-items-center justify-content-end">
                            <button type="submit" class="btn btn-primary rounded-pill w-100"><i class="fas fa-sort mx-1"></i>Filtrar</button>
                        </div>
                    </div>                  
                </form>
            </div>
        </div>
        <div class="row mx-0 w-100 shadow-sm my-3" style="height:80px;background-color:white;">
            <div class="col-2 h-100">
                <div class="row mx-0 h-100">
                    <div class="col-12 d-flex flex-column align-items-center justify-content-center">
                        <div class="text-start">
                            <h6 class="my-0 fw-bold">20440649-9</h6>
                            <small class="my-0 fw-light">20 Años</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 h-100">
                <div class="row mx-0 h-100">
                    <div class="col-12 d-flex flex-column align-items-center justify-content-center">
                        <div class="text-start">
                            <h6 class="my-0 fw-bold">Cristóbal Herrera Rojas</h6>
                            <small class="my-0 fw-light">Masculino</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 h-100">
                <div class="row mx-0 h-100">
                    <div class="col-12 d-flex flex-column align-items-start justify-content-center">
                        <div class="text-start">
                            <h6 class="my-0 fw-bold">+56 9 66919790</h6>
                            <small class="my-0 fw-light">Michimalonco 301, La Calera</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 h-100">
                <div class="row mx-0 h-100">
                    <div class="col-12 d-flex flex-column align-items-start justify-content-center">
                        <div class="text-start">
                            <h6 class="my-0 fw-bold">Apoderado:</h6>
                            <small class="my-0 fw-light">Paola Alejandra Rojas<a href="#" class="badge bg-primary text-decoration-none mx-2">Ver Apod.</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        {%include '../includes/actions.html'%}
    </div>
</div>
{% endblock 'content' %}
    