{% extends '../layouts/master.html' %}
{% load formats %}

{% block 'titulo' %}
Filtrar Alumnos por Parametros
{% endblock 'titulo' %}


{% block 'content' %}
<div class="row mx-0 h-100 w-100">
    <div class="col-9 h-100">
        <div class="row mx-0 w-100 h-100">
            <div class="col-12 py-2" style="height: 12% !important;">
                <form method="GET" class="w-100 d-flex">
                    {% csrf_token %}
                    <div class="row mx-0 w-100">
                        <div class="col-10 px-0">
                            <div class="row mx-0 w-100">
                                <div class="col-4">
                                    <label for="kword" class="form-label fw-bold">Palabra Clave:</label>
                                    <input type="text" class="form-control rounded-pill" id="kword" name="kword" placeholder="&#xF002; Nombre Alumno"  style="font-family:KoHo, FontAwesome">
                                </div>
                                <div class="col-4">
                                    <label for="fecha1" class="form-label fw-bold">Edad Miníma:</label>
                                    <input type="date" class="form-control rounded-pill" id="fecha1" name="fecha1" placeholder="Ingresa fecha 1">
                                </div>
                                <div class="col-4">
                                    <label for="fecha2" class="form-label fw-bold">Edad Máxima:</label>
                                    <input type="date"  class="form-control rounded-pill" id="fecha2" name="fecha2" placeholder="Ingresa fecha 2">
                                </div>
                            </div>     
                        </div>
                        <div class="col-2 d-flex flex-column align-items-center justify-content-end">
                            <button type="submit" class="btn btn-primary rounded-pill w-100"><i class="fas fa-sort mx-1"></i>Filtrar</button>
                        </div>
                    </div>                  
                </form>
            </div>
            <div class="col-12" style="height: 75% !important;">
                <div class="row mx-0 h-100 w-100 ">
                    <div class="col-12 h-100">
                    {% for alumno in alumnos  %}
                    {% date_to_age alumno.fecha_nacimiento as edad%}           
                    <div class="row mx-0 w-100 shadow-sm my-3" style="height:80px;background-color:white;">
                        <div class="col-2 h-100 px-0">
                            <div class="row mx-0 h-100">
                                <div class="col-12 d-flex flex-column align-items-center justify-content-center">
                                    <div class="text-start">
                                        <h6 class="my-0 fw-bold">{{alumno.rut}}</h6>
                                        <small class="my-0 fw-light">{{edad}} Años</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 h-100 px-0">
                            <div class="row mx-0 h-100">
                                <div class="col-12 d-flex flex-column align-items-start justify-content-center">
                                    <div class="text-start">
                                        <h6 class="my-0 fw-bold">{{alumno.nombre}} {{alumno.apellido_paterno}} {{alumno.apellido_materno}}</h6>
                                        <small class="my-0 fw-light">{{alumno.get_sexo_display}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 h-100 px-0">
                            <div class="row mx-0 h-100">
                                <div class="col-12 d-flex flex-column align-items-start justify-content-center">
                                    <div class="text-start">
                                        <h6 class="my-0 fw-bold">+56 9 {{alumno.telefono}}</h6>
                                        <small class="my-0 fw-light">{{alumno.direccion}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 h-100 px-0">
                            <div class="row mx-0 h-100">
                                <div class="col-12 d-flex flex-column align-items-start justify-content-center">
                                    <div class="text-start">
                                        <h6 class="my-0 fw-bold">Apoderado:</h6>
                                        <small class="my-0 fw-light w-100">{{alumno.rut_apoderado.nombre_apoderado}}<a href="#" class="badge bg-primary text-decoration-none mx-1">Ver Apod.</a></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 h-100 px-0">
                            <div class="row mx-0 h-100 w-100">
                                <div class="col-6 h-100 px-1">
                                    <form class="h-100 w-100 d-flex flex-column justify-content-center align-items-end">
                                        {% csrf_token %}
                                        <button type="submit" class="btn fs-5"><i class="far fa-edit"></i></button>
                                    </form>
                                </div>
                                <div class="col-6 h-100 px-1">
                                    <form class="h-100 w-100 d-flex flex-column justify-content-center align-items-start">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-close text-danger"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>                
                </div>
            </div>
            {% if is_paginated %}
            <div class="col-12" style="height: 13% !important;">
                <div class="row mx-0 w-100 h-100">
                    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Anterior</a>
                                </li>
                                {% endif %} 
                                {% for pag in paginator.page_range %}
                
                                {% ifequal pag page_obj.number  %}
                                <li class="page-item active"><a class="page-link" href="?page={{pag}}">{{pag}}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{pag}}">{{pag}}</a></li>
                                {% endifequal %}
                                    
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{page_obj.next_page_number}}" tabindex="-1" aria-disabled="true">Siguiente</a>
                                </li>
                                {% endif %}              
                            </ul>
                          </nav>
                    </div>                  
                </div>   
            </div>
            {% endif %}
        </div>     
    </div>
    <div class="col-3 h-100 text-center p-3">
        {%include '../includes/actions.html'%}
    </div>
</div>
{% endblock 'content' %}
    