{% extends '../layouts/master.html' %}


{% block 'content' %}
    <div class="row mx-0 h-100 w-100">
        <div class="col-10 d-flex align-items-center flex-column p-3">
            <div class="row mx-0 bg-primary w-100" style="height:90px">
                <div class="col-4 h-100">

                </div>
                <div class="col-4 h-100"></div>
                <div class="col-4 h-100"></div>
                <div class="col-4 h-100"></div>
            </div>
        </div>
        <div class="col-2 h-100 text-center p-3">
            <h4 class="fw-bold">Acciones</h4>
            <ul class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action rounded">Filtros</a>
                <a href="#" class="list-group-item list-group-item-action rounded">Registrar</a>
                <a href="#" class="list-group-item list-group-item-action rounded">Editar</a>
                <a href="#" class="list-group-item list-group-item-action rounded">Borrar</a>
              </ul>
        </div>  
    </div>
{% endblock 'content' %}
    