{% extends '../layouts/master.html' %}


{% block 'content' %}
    <div class="row mx-0 h-100 w-100">
        <div class="col-10 d-flex align-items-center flex-column p-3">
            <div class="row mx-0 w-100 shadow-sm" style="height:80px;background-color:white;">
                <div class="col-2 h-100">
                    <div class="row mx-0 h-100">
                        <div class="col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class="text-start">
                                <h6 class="my-0 fw-bold">20440649-9</h6>
                                <small class="my-0 fw-light">20 Años</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 h-100">
                    <div class="row mx-0 h-100">
                        <div class="col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class="text-start">
                                <h6 class="my-0 fw-bold">Cristóbal Herrera Rojas</h6>
                                <small class="my-0 fw-light">Masculino</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 h-100">
                    <div class="row mx-0 h-100">
                        <div class="col-12 d-flex flex-column align-items-start justify-content-center">
                            <div class="text-start">
                                <h6 class="my-0 fw-bold">+56 9 66919790</h6>
                                <small class="my-0 fw-light">Michimalonco 301, La Calera</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 h-100">
                    <div class="row mx-0 h-100">
                        <div class="col-12 d-flex flex-column align-items-start justify-content-center">
                            <div class="text-start">
                                <h6 class="my-0 fw-bold">Apoderado:</h6>
                                <small class="my-0 fw-light">Paola Alejandra Rojas<a href="#" class="badge bg-primary text-decoration-none mx-2">Ver Apod.</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 h-100 text-center p-3">
            <h4 class="fw-bold">Acciones</h4>
            <ul class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action rounded">Filtros</a>
                <a href="#" class="list-group-item list-group-item-action rounded">Registrar</a>
                <a href="#" class="list-group-item list-group-item-action rounded">Editar</a>
                <a href="#" class="list-group-item list-group-item-action rounded">Borrar</a>
              </ul>
        </div>  
    </div>
{% endblock 'content' %}
    