{% extends '../layouts/form1.html' %}
{% block 'title' %}
Registro de Apoderado
{% endblock 'title' %}

{% block 'formtitle' %}
Perfil de Apoderado
{% endblock 'formtitle' %}

{% block 'go_list' %}
<a href="{%url 'alumnos_app:apoderados'%}"  class="btn btn-primary rounded-pill my-btn">
    <i class="far fa-undo-alt px-1"></i>Apoderados
</a>
{% endblock 'go_list' %}
    

{% block 'formulario' %}
<div class="row mx-0">
    <div class="col-6">
        <label for="" class="text-primary">Nombre: {% for e in  form.nombre_apoderado.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
        {{form.nombre_apoderado}} 
        <label for="" class="text-primary">Apellido Paterno: {% for e in  form.apellido_paterno.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
        {{form.apellido_paterno}} 
        <label for="" class="text-primary">Apellido Materno: {% for e in  form.apellido_materno.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
        {{form.apellido_materno}} 
    </div>
    <div class="col-6">
        <label for="" class="text-primary">Rut: {% for e in  form.rut.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
        {{form.rut}} 
        <label for="" class="text-primary">Correo: {% for e in  form.correo.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
        {{form.correo}} 
        <label for="" class="text-primary">Telefóno: {% for e in  form.telefono_apoderado.errors %} <small class="text-danger fs-6"> {{e}}</small> {% endfor %}</label>
        {{form.telefono_apoderado}} 
    </div>
</div>

{% endblock 'formulario' %}
    
    