<ul class="list-group list-group-horizontal">
    <a  href="{% url 'asignaturas_app:overview'%}"
    class="list-group-item
    {% if 'asignatura' in request.path %}
    active
    {% endif %}
    "
    >
    Asignaturas
    </a>
    <a  href="{% url 'asignaturas_app:planes'%}"
    class="list-group-item
    {% if 'planes_de_estudio' in request.path %}
    active
    {% endif %}
    " 
    >
    Planes de Estudio
    </a>
    <a href="{% url 'asignaturas_app:profesores' %}"
    class="list-group-item
    {% if 'profesores' in request.path %}
    active
    {% endif %}
    
    "
    >
      Profesores
    </a>
  </ul>