
<ul class="list-group list-group-horizontal list-group-flush shadow-sm ">
    <a href="{% url 'alumnos_app:filtrar'%}" class=" py-2 list-group-item px-4 list-group-item-action rounded text-start {% if 'listado' in request.path or 'listado/edit' in request.path %}active{% endif %}" style="border-left: 1px solid #dee2e6 !important;"><i class="far fa-users px-3"></i>Alumnos{% if 'listado/edit' in request.path %}(Editando){% endif %}</a>
    <a href="{% url 'alumnos_app:apoderados'%}" class=" py-2 list-group-item px-4 list-group-item-action rounded text-start {% if 'apoderados' in request.path and not 'register' in request.path or 'apoderados/edit' in request.path %}active{% endif %}" style="border-left: 1px solid #dee2e6 !important;"><i class="fas fa-people-arrows px-3"></i>Apoderados{% if 'apoderados/edit' in request.path %}(Editando){% endif %}</a>
    <a href="{% url 'alumnos_app:registrar'%}" class=" py-2 list-group-item  px-4 list-group-item-action rounded text-start {% if 'registrar' in request.path %}active{% endif %}" style="border-left: 1px solid #dee2e6 !important;"><i class="fas fa-registered px-3"></i>Registrar Alumno</a>
    <a href="{% url 'alumnos_app:addApoderado'%}" class=" py-2 list-group-item px-4 list-group-item-action rounded text-start {% if 'apoderados' in request.path and 'register' in request.path%}active{% endif %}"" style="border-left: 1px solid #dee2e6 !important;"><i class="fas fa-user-tie px-3"></i>Registrar Apoderado</a>
</ul>

<!-- {% if 'filtros' in request.path or 'registrar' in request.path %}
<div class="col-12 d-flex flex-column justify-content-start align-items-center my-2">
    <a href="{% url 'alumnos_app:inicio'%}" class="btn btn-primary"><i class="fas fa-undo-alt mx-2"></i>Menú Principal</a>
</div>
{% endif %} -->
    