{% load static %}
<div class="row mx-0 shadow-sm " style="height: 70px;">
  <div class="col-1 d-flex flex-column justify-content-center align-items-center px-0">
    <!-- <i class="fas fa-graduation-cap fa-3x"></i> -->
    <div class="rounded-circle " style="width: 56px;height:65px;">      
      <img src="{% static 'imgs/MANNHEIM.png' %}" alt="" class="img-fluid w-100 h-100">
    </div>
  </div>
  <div class="col-3 d-flex flex-column justify-content-center align-items-start px-0">
    <h5 class="fw-bold">Liceo Tecnologico Mannheim</h5>
  </div>
  <div class="col-5"></div>
  <div class="col-3 px-0">
    <div class="row mx-0 h-100 w-100">
      <div class="col-3  h-100 d-flex flex-column justify-content-center align-items-center">
        <div class="rounded-circle " style="width: 56px;height:56px;">      
          {% if not user.image%}
          <img src="{% static 'imgs/man-300x300.png' %}" alt="" class="img-fluid rounded-circle">
          {%else%}
          <img src="{{user.image.url}}" style="height: 56px !important;width:56px !important" class="img-fluid rounded-circle">
          {% endif %}      
        </div>
      </div>
      <div class="col-9  h-100">
        <div class="row mx-0 h-100 w-100">
          <div class="col-12 d-flex flex-column justify-content-end">
            <h5 class="my-0 fw-bold">{{user.username}}</h5>
          </div>
          <div class="col-12 d-flex flex-column justify-content-start">
            <small class="fw-light"><span class="fst-italic">{{user.rol}}</span>   {{user.rut}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>