
<div class="customnavbar">
  <div class="row mx-0" style="height: 98px;">
    <div class="col-9" style="background-color: #594f8d;">
        <ul>
          <li><a class="decoration-none" style="text-align: center;" href="#">Liceo Tecnologico Mannheim</a></li>
        </ul>
    </div>
    <div class="col-3" style="background-color: #594f8d;">
      <div class="container fluid " style="background-color: #594f8d; height:98px">
        
       
        <ul>
          <li><div class="row mx-0">
            <img src="..\media\man-300x300.png"  style="
            border-radius: 50%;
            height:80px;
            width:98px;
          ">
          
          </div></li>
          
          <li class="abajo">nombre</li>
          <li class="abajo">admin</li>
       </ul>
        
        
      </div>
    </div>
    
  </div>

</div>