
<div class="customnavbar">
  <div class="row" style="height: 98px;">
    <div class="col-9" style="background-color: #594f8d;">
        <ul>
          <li><a class="decoration-none" href="#">Liceo Tecnologico Mannheim</a></li>
        </ul>
    </div>
    <div class="col-3" style="background-color: #594f8d;">
      <div class="container" style="background-color: #fff; height:98px">
        <div class="col">
          <img src="..\media\man-300x300.png"  style="
          border-radius: 50%;
          height:80px;
          width:98px;
        ">
        </div>
       
        
        
        
      </div>
    </div>
    
  </div>

</div>