
<div class="wrapper">
    <div class="sidebar">
        <h2>LEFTBAR Renato</h2>
        <ul>
            <li class="active-now"><a class="decoration-none" href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a class="decoration-none" href="#"><i class="far fa-address-book"></i>Mi Perfil</a></li>
            <li><a class="decoration-none" href="#"><i class="fas fa-child"></i>Alumnos</a></li>
            <li><a class="decoration-none" href="#"><i class="fas fa-history"></i>Antecedentes</a></li>
            <li><a class="decoration-none" href="#"><i class="fas fa-clipboard"></i>Informes</a></li>
            <li><a class="decoration-none" href="#"><i class="fas fa-spell-check"></i>Calificaciones</a></li>
            <li><a class="decoration-none" href="{% url 'home_app:logout' %}"><i class="fas fa-sign-out-alt"></i>Cerrar Sesión</a></li>
        </ul>
        <div class="social_media">
            <a href="#"><i class="far fa-address-book"></i></a>
            <a href="#"><i class="far fa-address-book"></i></a>
            <a href="#"><i class="far fa-address-book"></i></a>
        </div>
    </div>
    <!-- <div class="main_content">
        <div class="header">Bienvenido</div>
        <div class="info">
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit quibusdam voluptates maiores accusantium hic velit officia natus tenetur doloremque placeat temporibus cupiditate laudantium veniam, dignissimos illum iure quaerat distinctio qui!</div>
        </div>
    </div> -->
</div>
    
