{% extends '../layouts/master.html' %}
{% block 'content' %}

<div class="row mx-0 h-100 w-100"> 
    <div class="col-12 h-100 w-100 py-0 my-0" >
        <div class="row mx-0 w-100 h-100 ">
            <div class="col-12 text-center py-0 my-0 "style="height: 5%;" >
                {%include '../includes/actionspsicologo.html'%}
            </div>     
            <div class="col-8 py-3  " style="height: 95%;" >        
                <table class="table caption-top table-hover" >     
                    <thead >      
                       
                             <tr>
                                <th>ID Informes</th>
                                <th>Rut Alumno</th>
                                <th>Nombre del psicologo emitente</th>
                                <th>Fecha de emision</th>
                                <th>Imprimir</th>
                              </tr>      
                            <tbody>
                                {% if  informe.count == 0 %}
                                <tr class="text-center">
                                    <td colspan="6">Sin resultados en la Búsqueda...</td>
                                </tr>
                            {% endif %}
                            {% for i in informe  %}                  
                              <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.rut_alumno.rut}} - {{i.rut_alumno.nombre}}</td>
                                <td>{{i.rut_psicologo.nombre}} {{i.rut_psicologo.apellido_paterno}}</td>
                                <td>{{i.fecha_emision}}</td>   
                                <td class="text-center">
                                        <a class="page-link" target="_blank" href="{% url 'psicologos_app:informe_mostrar' i.id %}"  tabindex="-1" aria-disabled="true"><i class="far fa-file-pdf">
                                        </i>
                                    </a>

                                   
                                </td> 
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
                      {% if is_paginated %}                  
                          <div class="row  w-100 mx-0 ">
                              <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                                  <nav aria-label="Page navigation example">
                                      <ul class="pagination my-0">
                                          {% if page_obj.has_previous %}
                                          <li class="page-item">
                                          <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Anterior</a>
                                          </li>
                                          {% endif %} 
                                          {% for pag in paginator.page_range %}
                          
                                          {% ifequal pag page_obj.number  %}
                                          <li class="page-item active"><a class="page-link" href="?page={{pag}}">{{pag}}</a></li>
                                          {% else %}
                                          <li class="page-item"><a class="page-link" href="?page={{pag}}">{{pag}}</a></li>
                                          {% endifequal %}
                                              
                                          {% endfor %}
                                          {% if page_obj.has_next %}
                                          <li class="page-item">
                                          <a class="page-link" href="?page={{page_obj.next_page_number}}" tabindex="-1" aria-disabled="true">Siguiente</a>
                                          </li>
                                          {% endif %}              
                                      </ul>
                                  </nav>
                              </div>                  
                          </div>          
                      {% endif %} 
            </div>
            <div class="col-4"   >
                <form method="GET" class=" d-flex">
                    <div class="row w-100 mx-0 pt-4">
                        <div class="col-12 px-0">
                            <div class="row mx-0  ">
                                <h3 style="font-weight: bold;">Filtrar informes:</h3>
                                <hr>
                                <div>Por rango de fechas:</div>
                                <div class="col-12 py-3">
                                    <label for="fecha1" class="form-label fw-bold">Fecha 1:</label>
                                    <input type="date" class="form-control rounded-pill form-control-sm" id="fecha1" name="fecha1" value="{{filters.fecha1}}"   style="font-family:KoHo, FontAwesome">
                                </div>
                                <div class="col-12 py-3">
                                    <label for="fecha2" class="form-label fw-bold">Fecha 2:</label>
                                    <input type="date" class="form-control rounded-pill form-control-sm" id="fecha2" name="fecha2" value="{{filters.fecha2}}"  style="font-family:KoHo, FontAwesome">
                                </div>
                                <hr>
                                <div class="col-12 py-3">
                                    <label for="rut" class="form-label fw-bold">Rut de alumno:</label>
                                    <input type="text" class="form-control rounded-pill form-control-sm" id="rut" name="rut" value="{{filters.rut}}" style="font-family:KoHo, FontAwesome">
                                </div>
                            </div>     
                        </div>
                        <div class="col-12 py-5 d-flex flex-column align-items-center justify-content-end">
                            <button type="submit" class="btn btn-primary rounded-pill w-100"><i class="fas fa-sort mx-1"></i>Filtrar</button>
                        </div>
                    </div>                  
                </form>
            </div>
        </div>

    </div>
</div>

    
{% endblock 'content' %}