{% extends '../layouts/master.html' %}
{% load static %}
{% load random_number %}

{% block 'titulo' %}
Asignaturas del Colegio Manheim
{% endblock 'titulo' %}

{% block 'content' %}
<div class="row mx-0 h-100 w-100" >
    <div class="col-12  d-flex align-items-center justify-content-center" style="height: 10%;" >
        {% include '../includes/actionsAsign.html' %}
    </div> 
    <div class="col-12 px-5 py-4" style="height: 90%;">
        <div class="card w-100 h-100 shadow" style="border-radius: 1rem !important;" >
            <div class="w-100 p-4 d-flex align-items-center justify-content-center">
                <h3 class="card-title d-inline my-0 fw-bold">Asignaturas</h3>
                <!-- <button class="mx-2 btn btn-outline-secondary py-1" id="añadirAsignatura" data-bs-toggle="modal" data-bs-target="#añadirAsign">
                    Añadir <i class="far fa-plus mx-1"></i>
                </button> -->
                <!-- Modal añadir asignatura -->
                <!-- <div class="modal fade" id="añadirAsign" data-bs-backdrop="static" tabindex="-1" aria-labelledby="añadirAsign" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Añadir nueva asignatura</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="padding-bottom: 0 !important;">
                            <form action="" class="w-100" method="POST">
                                {% csrf_token %}
                                <label for="">{{form.cod_asign.label}}</label>
                                {{form.cod_asign}}
                                <small class="text-danger"> {{form.errors.cod_asign}}</small>
                                <label for="">{{form.nombre.label}}</label>
                                {{form.nombre}}
                                <small class="text-danger"> {{form.errors.nombre}}</small>
                                <div class="modal-footer" style="margin-top: 20px;">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Añadir</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <hr class="my-0 text-primary">
            <div class="card-body d-flex flex-wrap align-items-start justify-content-start py-2 overflow-auto">
                
                {% if asignaturas.count == 0  %}
                    <div class="w-100 d-flex flex-column align-items-center justify-content-center">
                        <div class="w-75 text-center card shadow my-5 py-3">
                            <h5 class="text-danger">No hay asignaturas Registradas <i class="fas fa-engine-warning mx-1"></i></h5>
                            <form action="{% url 'asignaturas_app:initGenerador'%}" method="POST">
                                {% csrf_token %}
                                <button class="fw-light btn py-0" >Por favor haz click aquí para generar las <span class="text-warning">asignaturas</span> y 
                                    <span class="text-warning">Planes de Estudio</span>
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}
                    
                {% for asign in asignaturas  %}
                {% random_number as num%}
                    <div class="card my-2 mx-2 shadow" style="width: 16rem; height: 316.4px">
                        <!-- <div class="card-img-top bg-secondary w-100" style="height: 7rem;">
                        </div> -->
                        <img src="
                        {% with 'imgs/asign'|add:num|add:'.jpg' as image_static %}
                            {% static image_static %}
                        {% endwith %}" 
                      class="card-img-top" style="height: 150px !important;">
                        <div class="card-body">
                            <h5 class="card-title">{{asign.nombre}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Incorporada en: 
                                <span class=" fst-italic">
                                    
                                    {% if asign.nombre == 'Matemáticas' or asign.nombre == 'Inglés' %}
                                    Educación General y Técnico Profesional
                                    {% else %}
                                    {{asign.plan.nombre}}
                                    {% endif %}
                                        
                                </span>
                            </h6>
                        </div>
                    </div>             
                {% endfor %} 
            </div>
        </div>
    </div>  

</div>
{% endblock 'content' %}

{% block 'js-select2' %}

{% if form.errors %}
<script>
    window.onload = function(){
        var button = document.getElementById('añadirAsignatura');
        button.click();
    };
</script>
    
{% endif %}

{% if messages %}
   {% for m in messages %}  
        {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <script>
            Swal.fire({
                'timer':'2000',
                title: 'Éxito!',
                text: '{{m}}',
                icon: 'success',
                showConfirmButton: false,
            })
        </script>
        {% endif %}      
    {% endfor %}
{% endif %}
    
    
{% endblock 'js-select2' %}
