{% extends '../layouts/master.html' %}
{% load static %}
{% load random_number %}

{% block 'titulo' %}
Planes de estudio del Colegio Manheim
{% endblock 'titulo' %}

{% block 'css-select2' %}
<!-- Jquery -->
<script src="{% static 'js/jquery-3.6.0.js' %}"></script>

<link rel="stylesheet"  href="{% static 'css/multi-select(pathern).css' %}">
{% endblock 'css-select2' %}

{% block 'content' %}
<div class="row mx-0 h-100 w-100" >
    <div class="col-12  d-flex align-items-center justify-content-center" style="height: 10%;" >
        {% include '../includes/actionsAsign.html' %}
    </div> 
    <div class="col-12 px-5 py-4" style="height: 90%;">
        <div class="card w-100 h-100 shadow" style="border-radius: 1rem !important;" >
            <div class="w-100 p-4 d-flex align-items-center justify-content-center">
                <h3 class="card-title d-inline my-0 fw-bold">Planes de estudio</h3>
            </div>
            <hr class="my-0 text-primary">
            <div class="card-body d-flex flex-wrap align-items-start justify-content-start py-2 overflow-auto">
                {% if planes.count == 0  %}
                    <div class="w-100 d-flex flex-column align-items-center justify-content-center">
                        <div class="w-75 text-center card shadow my-5 py-3">
                            <h5 class="text-danger">No hay Planes de estudio Registrados <i class="fas fa-engine-warning mx-1"></i></h5>
                            <form action="{% url 'asignaturas_app:initGenerador'%}" method="POST">
                                {% csrf_token %}
                                <button class="fw-light btn py-0" >Por favor haz click aquí para generar las <span class="text-warning">asignaturas</span> y 
                                    <span class="text-warning">Planes de Estudio</span>
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}
                {% for plan in planes  %}
                {% random_number as num%}
                    <div class="card my-2 mx-2 shadow" style="width: 18rem; height: 21rem;">
                        <img src="
                        {% with 'imgs/asign'|add:num|add:'.jpg' as image_static %}
                            {% static image_static %}
                        {% endwith %}" 
                      class="card-img-top" style="height: 150px !important;">
                        <div class="card-body" style="padding-bottom: 10px !important;">
                            <h5 class="card-title">{{plan.nombre}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="{{plan.detalle_url}}" target="_blank">Ver detalles</a></h6>
                            
                            
                            {% if plan.nombre == 'Técnico Profesional' %}
                            <h6 class="card-subtitle mb-2 text-muted">Asignaturas: 9</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Plan común: 6</h6>
                            {% else %}
                            <h6 class="card-subtitle mb-2 text-muted">Asignaturas: {{plan.asignaturas.count}}</h6>
                            {% endif %}
                                
                        </div>
                        <div class="text-center" style="margin-bottom: 10px;">
                            
                            {% if plan.asignaturas.count == 0 %}
                                <a href="#" class="btn py-0 my-1 disabled border"  style="color: rgba(52, 58, 64, 0.5);" aria-disabled="true"><i class="far fa-tasks mx-1"></i>Asignaturas</a>    

                            {% else %}
                                <button type="button" class="btn btn-success py-0 my-1" data-bs-toggle="modal" data-bs-target="#verAsigns{{plan.id}}">
                                    <i class="far fa-tasks mx-1"></i> Ver Asignaturas
                                </button> 
                                <!-- Modal -->
                                <div class="modal fade" id="verAsigns{{plan.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Asignaturas del plan</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Matemáticas 3°Medio y 4°Medio</li>
                                                    <li class="list-group-item">Inglés 3°Medio y 4°Medio</li>
                                                    
                                                    {% for asign in plan.asignaturas.all %}
                                                    
                                                    <li class="list-group-item">{{asign.nombre}}</li>
                                                    {% endfor %}
                                                        
                                                   
                                                </ul>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            {% endif %}
                                
                        </div>
                    </div>             
                {% endfor %} 
            </div>
        </div>
    </div>  

</div>
{% endblock 'content' %}

{% block 'js-select2' %}

{% if messages %}
   {% for m in messages %}  
        {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <script>
            Swal.fire({
                'timer':'2000',
                title: 'Éxito!',
                text: '{{m}}',
                icon: 'success',
                showConfirmButton: false,
            })
        </script>
        {% endif %}      
    {% endfor %}
{% endif %}
     
{% endblock 'js-select2' %}
